.auth-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .auth-left {
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
  }
  @media (min-width: 768px) {
    .auth-left {
      width: 60%;
    }
  }
  .auth-title {
    font-size: 1.125rem;
    font-weight: 500;
    color: black;
  }

  .auth-right {
    display: none;
  }

  @media (min-width: 768px) {
    .auth-right {
      display: flex;
      width: 40%;
      height: 100vh;
      padding: 2rem;
      position: relative;
      background-color: #F3E8FF;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }
  
  .shape {
    position: absolute;
    z-index: 12;
    border-radius: 10px;
  }

  .shape-one {
    width: 8rem;
    height: 8rem;
    top: 0;
    left: 0;
    background-color: #9333ea; /* purple-600 */
  }
  
  .shape-two {
    width: 10rem;
    height: 10rem;
    top: 35%;
    right: -20px;
    border: 25px solid #c026d3; /* fuchsia-600 */
    border-radius: 35px;
  }
  
  .shape-three {
    width: 10rem;
    height: 10rem;
    bottom: 0;
    left: 0;
    background-color: #8b5cf6; /* violet-500 */
    border-radius: 30px;
  }
  
  .auth-stats {
    position: relative;
    z-index: 50;
    margin-bottom: 15rem;
    margin-left: -5rem;
  }
  
  .auth-image {
    width: 26rem;
    box-shadow: 0 10px 25px rgba(96, 165, 250, 0.15);
    z-index: 20;
    bottom: -13px;
    position: relative;
    border-radius: 8px;
  }
  
  @media (min-width: 1024px) {
    .auth-image {
      width: 90%;
    }
  }

  /* StatsInfoCard */
  .stats-card {
    display: flex;
    gap: 1.5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(139, 92, 246, 0.1); /* purple-400/10 */
    border: 1px solid rgba(229, 231, 235, 0.5); /* gray-200/50 */
  }

  .stats-icon {
    width: 2rem;
    height: 3rem;
    font-size: 1.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .stats-label {
    font-size: 0.75rem;
    color: #6b7280; /* gray-500 */
    margin-bottom: 0.25rem;
  }
  .stats-value {
    font-size: 1.25rem;
  }
  