.login-container {
    width: 70%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
    margin: 0 auto;
  }
  
  .login-title {
    font-family: poppins;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
  }
  
  .login-subtitle {
    font-size: 0.75rem;
    color: #475569;
    margin-top: 5px;
    margin-bottom: 24px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-error {
    color: red;
    font-size: 0.75rem;
    padding-bottom: 10px;
  }
  
  .login-button {
    background-color: #9333ea;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-button:hover {
    background-color: #9333ea;
  }
  
  .signup-link {
    font-size: 0.85rem;
    margin-top: 16px;
  }
  
  .signup-anchor {
    color: #9333ea;
    font-weight: 500;
    text-decoration: underline;
  }
  